.media-player {
  background: #555555;
}

/*  IMAGE CAPTIONS */
.media-media_crop .field-type-text-long {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/* FITVIDS MAX WIDTH */
.media-youtube-video,
.media-vimeo-video {
  max-width: 640px; /* If you have a better solution im all ears */
  display: block;
  clear: both;
}

.manualcrop-thumblist {
  overflow:hidden;
  overflow-x:hidden;
}

div #media-format-form #edit-options {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
  border: solid 1px #CCC;
  margin: 10px 0;
}

#media-format-form #edit-options label,
#media-format-form #edit-options legend,
#media-format-form #edit-options .fieldset-description {
  display: block;
  font-weight: bold;
}

div .mbp-item-list .media-item .media-thumbnail a {
  display: inline-block;
}

.media-element {
  display: inline-block;
}

.media-element img {
  max-width: 100%;
  height: auto;
}
